:root{
    --text--color--: #5f5955;
    --border--color--:#3c2c22;
    --focus--color--: #7e5b5c;   
    --bg--color--: #d6b9ba;   
    --line--color--: hsla(358,14%, 84%, .3);   
}

html{
    font-size: 62.5%;
}

*{
    box-sizing: inherit;
    margin:0;
    padding: 0;
    inset: 0;
}
body{
    box-sizing: border-box;
}

.converter{
    margin-top: 20rem;
}


[class ^= col-]{
   padding:0;
   position: relative;
}


.borde{
 border: 1px solid grey;
 height: 50px;
}

input[type=text]{
    padding: 1.5rem 10rem 1rem 2rem;
    margin: 0;
    
}

select{
    margin: 0;
    padding: 1.4rem 5rem 1.5rem 2rem;
    transform: translate(-.4rem,-.3rem);
    background-color: var(--bg--color--);
    color: var(--text--color--);
}

.trans{
    border: 3px solid var(--border--color--);
    border-radius: 8px;
    margin: 2rem;
    color: var(--text--color--);
    padding: 1rem 5rem 1rem 6rem;

}


.trans-list{
    list-style-type: none;
}
.trans-list li{
 line-height:1.5;
 border-bottom: 1px groove var(--line--color--); 
}
.trans-list span{ 
  float: right;
}

.trans-title{
    font-weight: bold;
}

.hidden{
    display: none;
}